/* Write your CSS here */
.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.todo-title {
  color: #000000;
}
.delete-button {
  background-color: #ffffff;
  color: #ff0b37;
  padding: 10px;
  border: 1px solid #ff0b37;
  border-radius: 5px;
}
